.nav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	padding-bottom: 8px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: bold;
}
.navMute {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-decoration: none;
	padding-bottom: 8px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: bold;
}
body {
	background-color: #000000;
}
.nav a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
	text-decoration: none;
	font-weight: bold;
}
.nav a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #999999;
	text-decoration: none;
}
.nav a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #CCCCCC;
	text-decoration: none;
}
.nav a:visited a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #999999;
	text-decoration: none;
}
.navimg {

	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-decoration: none;
}
.navimg a:link {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
	text-decoration: none;
	font-weight: bold;
}
.navimg a:visited {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #999999;
	text-decoration: none;
}
.navimg a:hover {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.navimg a:visited a:hover {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #999999;
	text-decoration: none;
}
.timestamp {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
	text-decoration: none;
	padding-bottom: 8px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: normal;
}
.p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CCCCCC;
	text-decoration: none;
	text-align: left;
	padding-left: 257px;
	padding-top: 20px;
}
.pBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #CCCCCC;
	text-decoration: none;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 257px;
}
.pNews {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CCCCCC;
	text-decoration: none;
	text-align: left;
	padding: 10px 30px 0px 100px;
	font-weight: normal;
}
.pNewsHeadline {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CCCCCC;
	text-decoration: none;
	text-align: left;
	font-weight: normal;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}
.pNews a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	padding: 0px 0px 0px 0px;
	font-weight: normal;
}

.pNews a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #999999;
	text-decoration: none;
}
.pNews a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #CCCCCC;
	text-decoration: none;
}
.pNews a:visited a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #999999;
	text-decoration: none;
}

.newsbg {
	background-image: url(../images/Home_news.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
.legalbg {

	background-image: url(../images/Legal_bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
.pTitle {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #CCCCCC;
	text-decoration: none;
}
.musicbg {

	background-image: url(../images/Music_bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
.pNewstitle {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #CCCCCC;
	text-decoration: none;
	text-align: left;
	padding: 0px 20px 0px 250px;
	font-weight: normal;
}

.pforms {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CCCCCC;
	text-decoration: none;
	text-align: left;
}
.pLayers {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CCCCCC;
	text-decoration: none;
	text-align: left;
	font-weight: normal;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 250px;
}
.phometext {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CCCCCC;
	text-decoration: none;
	text-align: left;
	font-weight: normal;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.phometitle {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #CCCCCC;
	text-decoration: none;
	text-align: center;
	padding: 0px 20px;
	font-weight: normal;
}

